nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    button {
        border: 2px solid #ededed;
        background: transparent;
        cursor: pointer;
        padding: 0.5rem 0.75rem;
        transition: 0.2s;
        border-radius: 0.3rem;
        &:hover {
            color: #fff;
            background: #444;
        }
    }
}

@media (max-width: 768px) {
    nav {
        button {
            z-index: 1;
        }
    }
}